@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --primary-text-color: #ebebeb;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #E78823;
    --text-color: #2c3e50;
}